* {
    margin: 0;
    padding: 0;
}
body * {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    line-height: 1.5em;
    text-align: center;
    margin: 20px 0;
    color: brown;
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
}

.description {
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 1.5em;
    text-align: center;
}
.aboutTags {
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.5em;
    text-align: center;
}

.handler {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
#tagInput {
    border-radius: 10px 0 0 10px;
    padding: 5px 0 5px 10px;
}
#showButton,
#hideButton {
    background: brown;
    border: 2px solid brown;
    border-left: 2px solid #fff;
    padding: 0 10px;
    color: #fff;
    cursor: pointer;
}
#hideButton {
    border-radius: 0 10px 10px 0;
}
    #showButton:hover,
    #hideButton:hover {
        background: #fff;
        border: 2px solid brown;
        color: brown;
        transition: 0.2s;
    }
    #showButton:active,
    #hideButton:active {
        box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.5);
    }

#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#gallery img {
    margin: 5px;
}
.invisible {
    display: none;
}
